.map {
  height: 800px;
  width: 90%;
    }

/*Feature Overlay*/
.overlay-container{
  background-color: #555;
  width: 150px;
  color: #fff;
  text-align: left;
  border-radius: 3px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;

}

.overlay-container #feature-souradnice_x::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.overlay-container #feature-souradnice_y::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}